.complaint-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0px 50px;
  text-align: center;
}

.complaint-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}

.complaint-instructions {
  color: #6B6A8E;
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 14px;
}

.textarea-container {
  margin-bottom: 24px;
}

.complaint-textarea {
  width: 100%;
  padding: 40px;
  border: 1px solid #7D7AE5;
  background-color: #F8F8FF;
  font-family: inherit;
  font-size: 14px;
  resize: none;
  color: #333;
  outline: none;
}

.complaint-textarea::placeholder {
  color: #ccc;
  font-size: 14px;
  letter-spacing: 1px;
}



.submit-button {
  background-color: #7D7AE5;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease;
}

.submit-button:hover {
  background-color: #6a5acd;
}

.submit-button:active {
  transform: translateY(1px);
}
